<% content_for :title, "Editing budget" %>

<h1>Editing budget</h1>

<%= render "form", budget: @budget %>

<br>

<%= form_with url: budget_path(@budget), method: :delete, local: true, data: { turbo_confirm: "Are you sure?" } do %>
  <%= submit_tag 'Delete' %>
<% end %>

<br>

<div>
  <%= link_to "Back to budgets", budgets_path %>
</div>
