<% provide(:title, "Transactions") %>

<div data-controller="filter-sidebar" class="bg-gray-100 shadow-md overflow-hidden flex flex-col h-[calc(100vh-45px)]">
  <!-- Header row -->
  <div class="bg-gray-800 py-3 px-4 flex justify-between items-center flex-shrink-0">
    <div class="w-1/3">
      <button id="filter-toggle" class="text-white hover:text-blue-200 p-2 rounded hover:bg-gray-700 focus:outline-none">
        <svg class="w-5 h-5" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
        </svg>
      </button>
    </div>
    <h1 class="text-white text-xl font-bold w-1/3 text-center">Transactions</h1>
    <div class="w-1/3 text-right">
      <!-- Action buttons moved to sidebar -->
    </div>
  </div>

  <!-- Transactions list -->
  <div class="flex-grow min-h-0 flex flex-col overflow-hidden">
    <%= render 'trxes/trx_list', trxes: @trxes, filtered_count: @filtered_count, pagy: @pagy %>
  </div>
</div>

<%= render 'trxes/filter_sidebar' %>