<h1>Edit Scheduled Transaction</h1>

<%= render "form", scheduled_trx: @scheduled_trx %>

<div class="actions">
  <%= button_to 'Delete Scheduled Transaction', 
      scheduled_trx_path(@scheduled_trx), 
      method: :delete,
      class: 'button danger',
      form: { data: { turbo_confirm: 'Are you sure?' } } %>
</div>

<%= link_to 'Back', scheduled_trxes_path %> 