<h1>New Scheduled Transaction</h1>

<% if @scheduled_trx.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@scheduled_trx.errors.count, "error") %> prohibited this scheduled transaction from being saved:</h2>
    <ul>
      <% @scheduled_trx.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form", scheduled_trx: @scheduled_trx %>

<%= link_to 'Back', scheduled_trxes_path %> 