/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pagy-nav {
  text-align: center;
  margin: 1rem 0;
}

.pagy-nav .page-count {
  margin: 0 1rem;
}

.pagy-nav .prev,
.pagy-nav .next {
  margin: 0 0.5rem;
}

.pagy-nav .disabled {
  color: #999;
}

.pagy-nav a {
  text-decoration: none;
  color: #333;
}

.pagy-nav a:hover {
  color: #666;
}
